/*-------------------------------------------------------------------------------------
[TABLE OF CONTENTS]

	00. RESET
	01. GENERAL
	02. BUTTON
	03. NAVBAR
	04. STICKY NAVBAR
	05. REVOLUTION SLIDER
	06. OWL CAROUSEL
	07. SWIPER
	08. CUBE PORTFOLIO
	09. BASIC GALLERY
	10. SLIDE PORTFOLIO
	11. PORTFOLIO POSTS
	12. PARALLAX
	13. VIDEO PARALLAX
	14. BLOG
	15. WIDGETS
	16. THUMBNAIL OVERLAY
	17. PROGRESS BAR
	18. FEATURES
	19. FACTS
	20. TABS
	21. ACCORDION / TOGGLE
	22. PRICING & TABLES
	23. TOOLTIP
	24. TESTIMONIALS
	25. COMMENTS
	26. FORMS
	27. SOCIAL ICONS
	28. FANCYBOX
	29. FONT ICON PAGES
	30. DIVIDERS
	31. RESPONSIVE
	
	font-family: 'Karla', sans-serif;
	font-family: 'Museo', sans-serif;
	
	
-------------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	00. RESET
/*-----------------------------------------------------------------------------------*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:focus {
  outline: 0 !important;
}
.fit-vids-style {
  display: none;
}
figure {
  margin: 0;
  padding: 0;
}
figure img {
  height: auto;
  width: 100%;
  max-width: 100%;
}
iframe {
  border: none;
}
::selection {
  background: #cee2ef;
  /* Safari */
  color: #2f2f2f;
}
::-moz-selection {
  background: #cee2ef;
  /* Firefox */
  color: #2f2f2f;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}
@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f9f9f9;
  z-index: 9999999;
}
#status {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}
.spinner {
  height: 40px;
  width: 40px;
  position: relative;
  -webkit-animation: rotation .8s infinite linear;
  -moz-animation: rotation .8s infinite linear;
  -o-animation: rotation .8s infinite linear;
  animation: rotation .8s infinite linear;
  border-left: 3px solid rgba(112, 174, 210, 0.15);
  border-right: 3px solid rgba(112, 174, 210, 0.15);
  border-bottom: 3px solid rgba(112, 174, 210, 0.15);
  border-top: 3px solid rgba(112, 174, 210, 0.8);
  border-radius: 100%;
}
#preloader .textload {
  width: 100%;
  position: absolute;
  top: calc(50% + 30px);
  left: 0;
  text-transform: uppercase;
  text-align: center;
  color: #70aed2;
  font-family: 'Museo', sans-serif;
}
.icon img {
  width: 100%;
  height: 100%;
}
/*-----------------------------------------------------------------------------------*/
/*	01. GENERAL
/*-----------------------------------------------------------------------------------*/
body {
  overflow-x: hidden;
  font-size: 15px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: #5b5b5b;
  font-family: 'Karla', sans-serif;
  background: #fafbfc;
}
.container {
  padding-right: 0;
  padding-left: 0;
}
body,
li,
address {
  line-height: 24px;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: 18px;
  font-weight: normal;
}
p {
  margin: 0 0 20px;
}
a {
  color: #70aed2;
  transition: all 150ms ease-in;
}
a.line:hover {
  border-bottom: 1px solid #70aed2;
  transition: all 150ms ease-in;
}
a:hover,
a:focus {
  color: #70aed2;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  color: #3b3b3b;
  margin-bottom: 10px;
  font-weight: 700;
  font-family: 'Museo', sans-serif;
}
h1 {
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 15px;
  font-weight: 700;
}
h2 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 15px;
  font-weight: 700;
}
h3 {
  font-size: 18px;
  line-height: 22px;
}
h4 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 7px;
  letter-spacing: -0.2px;
}
h5 {
  font-size: 15px;
  line-height: 19px;
  letter-spacing: -0.2px;
}
h6 {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.2px;
}
h1.post-title,
h2.post-title {
  font-size: 20px;
}
h4.post-title {
  margin-bottom: 3px;
}
.image-grid h4.post-title {
  margin: 0;
}
.post-title a {
  color: #3b3b3b;
}
.post-title a:hover {
  color: #70aed2;
}
.section-title.text-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.section-title {
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 20px;
}
.section-title span {
  color: #70aed2;
}
h2.headline {
  font-size: 40px;
  line-height: 45px;
}
.headline p {
  margin: 0;
}
.lead {
  font-size: 20px;
  line-height: 25px;
  font-weight: normal;
}
.inner,
.vc_row {
  padding-top: 100px;
  padding-bottom: 100px;
}
.inner2 {
  padding-top: 70px;
  padding-bottom: 70px;
}
footer .inner {
  padding-top: 60px;
  padding-bottom: 50px;
}
.meta,
.meta a,
.more {
  color: #999999;
  font-size: 13px;
  text-transform: uppercase;
}
.more {
  font-size: 13px;
  line-height: 1;
}
.more:after {
  content: "→";
  padding-left: 5px;
}
.meta a:hover,
.more:hover {
  color: #70aed2;
}
.meta {
  display: block;
  margin-bottom: 10px;
}
.meta span:before {
  content: "/";
  padding: 0 10px;
  color: #999999;
}
.meta span:first-child:before {
  display: none;
}
.meta.tags {
  margin: 0 !important;
}
.meta.tags a:before {
  content: "#";
  display: inline;
}
h2.post-title + .meta {
  margin-top: -10px;
}
.post h2.post-title + .meta {
  margin-top: 0;
}
.thin {
  width: 85%;
  margin: 0 auto;
}
.light-wrapper {
  background: #fafbfc;
}
.dark-wrapper {
  background: #f2f5f7;
}
.inverse-wrapper {
  background: #26262a;
  color: #cdcdcd;
  position: relative;
}
.sub-footer {
  background: #212124;
}
.sub-footer p {
  margin: 0;
  font-size: 14px;
}
.sub-footer p a {
  text-decoration: underline;
}
.sub-footer .inner {
  padding-top: 30px;
  padding-bottom: 30px;
}
.inverse-wrapper h1,
.inverse-wrapper h2,
.inverse-wrapper h3,
.inverse-wrapper h4,
.inverse-wrapper h5,
.inverse-wrapper h6 {
  color: #fff;
}
.inverse-wrapper .section-title.text-center:after {
  color: inherit;
}
hr {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 100px;
  margin-bottom: 100px;
  box-shadow: none;
}
ul {
  padding: 0 0 0 18px;
}
ol {
  padding: 0 0 0 20px;
}
ul,
ol {
  margin-bottom: 15px;
}
ul.circled {
  padding: 0;
  list-style: none;
}
ul.circled li:before {
  content: '●';
  margin-right: 10px;
  font-weight: normal;
  vertical-align: top;
  display: inline-block;
  color: #70aed2;
  font-size: 11px;
}
.col-image {
  padding: 0px;
  position: relative;
}
.col-image .bg-wrapper {
  overflow: hidden;
  position: absolute;
  height: 100%;
  padding: 0px;
  top: 0px;
}
.col-image .inner-col {
  padding-top: 90px;
  padding-bottom: 90px;
}
.bg-holder {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center center !important;
}
#map {
  height: 400px;
}
.contact-info {
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact-info li {
  display: inline-block;
  margin: 0 10px;
}
.contact-info i {
  margin-right: 7px;
  color: #70aed2;
}
.contact-info a {
  color: inherit;
}
.contact-info a:hover {
  color: #70aed2;
}
footer .post-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .post-list li {
  margin-top: 20px;
}
footer .post-list li:first-child {
  margin: 0;
}
footer .post-list li h6 {
  font: inherit;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: normal;
  text-transform: none;
  margin: 0;
}
footer .meta {
  color: #838383;
}
footer a {
  color: #cdcdcd;
}
footer .copyright {
  margin: 0;
}
footer .contact-info i,
footer ul.circled li:before {
  color: inherit;
}
.alert-success {
  border-color: #c0d6ae;
}
.alert-info {
  border-color: #a3d5df;
}
.alert-warning {
  border-color: #eddebf;
}
.alert-danger {
  border-color: #ddb8be;
}
.dropcap {
  font-weight: 800;
  display: block;
  float: left;
  font-size: 49px;
  padding: 0;
  margin: 0;
  margin: 12px 8px 0 0;
  text-transform: uppercase;
}
/*-----------------------------------------------------------------------------------*/
/*	02. BUTTON
/*-----------------------------------------------------------------------------------*/
.btn,
input[type="submit"],
.tagcloud a,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  color: #FFF !important;
  background: #70aed2;
  border: 0;
  margin-bottom: 10px;
  margin-right: 4px;
  font-size: 12px;
  line-height: 1;
  padding: 14px 20px 13px;
  font-weight: 700;
  text-shadow: none;
  text-transform: none;
  transition: all 150ms ease-in;
  box-shadow: none;
  border-radius: 0;
  text-transform: uppercase;
  display: inline-block;
  font-family: 'Karla', sans-serif;
}
.navigation .btn {
  margin-bottom: 0;
}
.btn.btn-large {
  padding: 15px 23px;
}
.btn-load-more + .btn-load-more {
  display: none;
}
.btn-icon i {
  margin-right: 3px;
}
.text-center .btn {
  margin: 0 4px;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
input[type="submit"]:hover,
.tagcloud a:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  background: #62a3c8;
  transition: all 150ms ease-in;
  box-shadow: none;
  border-color: transparent;
}
.btn.btn-blue {
  background: #70aed2;
}
.btn.btn-purple {
  background: #7e86b5;
}
.btn.btn-pink {
  background: #ce8fad;
}
.btn.btn-rose {
  background: #c8627f;
}
.btn.btn-green {
  background: #71aaaa;
}
.btn.btn-forest {
  background: #72b979;
}
.btn.btn-aqua {
  background: #62b8c8;
}
.btn.btn-lime {
  background: #afca74;
}
.btn.btn-brown {
  background: #ad7b4f;
}
.btn.btn-red {
  background: #f0676a;
}
.btn.btn-orange {
  background: #f67f44;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active {
  background: #62a3c8 !important;
}
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active {
  background: #6e76a1 !important;
}
.btn-pink:hover,
.btn-pink:focus,
.btn-pink:active,
.btn-pink.active {
  background: #bb7d9a !important;
}
.btn-rose:hover,
.btn-rose:focus,
.btn-rose:active,
.btn-rose.active {
  background: #b75772 !important;
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active {
  background: #619b9b !important;
}
.btn-forest:hover,
.btn-forest:focus,
.btn-forest:active,
.btn-forest.active {
  background: #62a969 !important;
}
.btn-aqua:hover,
.btn-aqua:focus,
.btn-aqua:active,
.btn-aqua.active {
  background: #51a7b6 !important;
}
.btn-lime:hover,
.btn-lime:focus,
.btn-lime:active,
.btn-lime.active {
  background: #9eb963 !important;
}
.btn-brown:hover,
.btn-brown:focus,
.btn-brown:active,
.btn-brown.active {
  background: #996d46 !important;
}
.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active {
  background: #e45558 !important;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active {
  background: #ea6928 !important;
}
/*-----------------------------------------------------------------------------------*/
/*	03. NAVBAR
/*-----------------------------------------------------------------------------------*/
.navbar {
  z-index: 9998;
  border: 0;
  border-radius: 0;
  min-height: inherit;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: 90px;
  background: transparent;
  transition: all 0.3s;
  font-family: 'Karla', sans-serif;
}
.container > .navbar-header {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.navbar .navbar-brand {
  padding: 0;
  float: none;
  height: auto;
  position: relative;
  box-shadow: none;
  margin: 0 !important;
}
.navbar .navbar-brand a {
  transition: none;
}
.navbar .navbar-collapse {
  padding-right: 0;
  padding-left: 0;
  float: none;
  text-align: center;
  width: 100%;
}
.navbar .navbar-nav {
  float: none;
  pointer-events: none;
}
.navbar .navbar-nav > li {
  float: none;
  pointer-events: all;
}
.navbar .navbar-nav > li > a {
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  transition: all 150ms ease-in;
  line-height: 1;
  color: #FFF !important;
  position: relative;
}
.navbar.light .navbar-nav > li > a,
.navbar.light .btn.responsive-menu {
  color: #3b3b3b !important;
}
.navbar .navbar-nav > li > a:focus,
.navbar .nav > li > a:hover,
.navbar .nav > li.current > a,
.navbar .nav > li.current-menu-parent > a {
  background: none;
}
.navbar .nav > li.current > a,
.navbar .navbar-nav > li > a:focus,
.navbar .nav > li > a:hover,
.navbar .nav > li.current-menu-parent > a {
  color: #70aed2 !important;
}
.navbar .nav > li.active > a {
  color: #70aed2 !important;
}
.navbar .dropdown-menu {
  padding: 0;
  margin: 0;
  min-width: 150px;
  border: none;
  background: none;
  border-radius: 0;
  box-shadow: none;
  padding-top: 15px;
}
.navbar .dropdown-menu li {
  background: #26262a;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}
.navbar .dropdown-menu li:first-child {
  border-top: 2px solid #70aed2;
}
.navbar .dropdown-menu li a {
  background: none;
  border: none;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: uppercase;
  padding: 15px 20px 15px;
  line-height: 1;
}
.navbar .dropdown-menu li a:hover,
.navbar .dropdown-menu li a.active {
  padding: 15px 20px 15px;
  filter: none;
  line-height: 1;
}
.navbar .dropdown-menu li a:hover,
.navbar .dropdown-menu li a.active,
.navbar .nav .open > a,
.navbar .nav .open > a:hover,
.navbar .nav .open > a:focus,
.navbar .dropdown-menu > li > a:hover,
.navbar .dropdown-menu > li > a:focus,
.navbar .dropdown-submenu:hover > a,
.navbar .dropdown-submenu:focus > a,
.navbar .dropdown-menu > .active > a,
.navbar .dropdown-menu > .active > a:hover,
.navbar .dropdown-menu > .active > a:focus {
  background: none;
  color: #70aed2;
}
.navbar .nav > li > .dropdown-menu:after {
  display: none;
}
.navbar .dropdown-menu > li > a:hover,
.navbar .dropdown-menu > li > a:focus,
.navbar .dropdown-submenu:hover > a,
.navbar .dropdown-submenu:focus > a,
.navbar .dropdown-menu > .active > a,
.navbar .dropdown-menu > .active > a:hover,
.navbar .dropdown-menu > .active > a:focus {
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.caret {
  border-top: 4px solid;
}
/* Responsive Menu Button */
.btn.responsive-menu {
  padding: 0;
  margin: 0;
  display: none;
  text-align: center;
  font-size: 22px;
  background: none;
  position: relative;
  z-index: 999999;
}
.btn.responsive-menu:hover,
.btn.responsive-menu:focus,
.btn.responsive-menu:active,
.btn.responsive-menu.active {
  background: none !important;
}
.btn.responsive-menu i {
  margin: 0;
}
.btn.responsive-menu i:before {
  content: '\f0c9';
  font-family: 'fontello';
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  margin-right: 0;
  text-align: center;
}
.btn.responsive-menu.opn i:before {
  content: '\e819';
}
/*-----------------------------------------------------------------------------------*/
/*	04. STICKY NAVBAR
/*-----------------------------------------------------------------------------------*/
.navbar.fixed {
  background: rgba(29, 29, 33, 0.8) !important;
  height: 70px;
}
.navbar.solid {
  background: rgba(29, 29, 33, 0.9);
}
.navbar.solid.light {
  background: #FFF;
}
.navbar.fixed.light {
  background: rgba(255, 255, 255, 0.9) !important;
  border-bottom: 1px solid rgba(29, 29, 33, 0.12);
}
.navbar .navbar-brand img.logo-dark,
.navbar.solid.dark .navbar-brand img.logo-dark,
.navbar.solid.light .navbar-brand img.logo-light {
  display: none;
}
.navbar .navbar-brand img.logo-light,
.navbar.solid.light .navbar-brand img.logo-dark,
.navbar.solid.dark .navbar-brand img.logo-light {
  display: inline-block;
}
.navbar.fixed.light .navbar-brand img.logo-light {
  display: none;
}
.navbar.fixed.light .navbar-brand img.logo-dark {
  display: inline-block;
}
.navbar.fixed .navbar-collapse {
  line-height: 70px;
}
/*-----------------------------------------------------------------------------------*/
/*	05. REVOLUTION SLIDER
/*-----------------------------------------------------------------------------------*/
.tp-fullwidth-container,
.tp-fullscreen-container,
.tp-banner-container {
  width: 100% !important;
  position: relative;
  padding: 0;
}
.revolution {
  z-index: 998;
}
.revolution.tp-banner-container {
  z-index: 996;
}
.revolution btn {
  font-size: 13px;
}
.revolution ul {
  display: none;
  margin: 0;
  list-style: none;
}
.revolution .tp-caption h1 {
  margin: 0;
}
.revolution .tp-caption {
  color: #efefef;
}
.revolution .tp-caption.large {
  font-size: 55px;
  line-height: 65px;
  font-weight: 700;
  font-family: 'Museo', sans-serif;
}
.revolution .tp-caption.medium {
  font-size: 28px;
  line-height: 36px;
}
.tp-leftarrow.default,
.tp-rightarrow.default,
.tp-leftarrow.hesperiden,
.tp-rightarrow.hesperiden {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  top: 50% !important;
  -webkit-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  color: rgba(255, 255, 255, 0.75);
  padding: 0;
  text-align: center;
  font-size: 40px;
  line-height: 1;
  background: transparent;
}
.hesperiden.tparrows:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  vertical-align: middle;
  font-size: 40px;
}
.tp-leftarrow.default,
.tp-leftarrow.hesperiden {
  margin-left: 20px;
}
.tp-rightarrow.default,
.tp-rightarrow.hesperiden {
  margin-right: 20px;
}
.tp-leftarrow.default:before,
.tp-leftarrow.hesperiden:before {
  content: '\e765' !important;
}
.tp-rightarrow.default:before,
.tp-rightarrow.hesperiden:before {
  content: '\e766' !important;
}
.hesperiden.tparrows:hover {
  color: #ffffff;
  background: transparent !important;
}
.tp-bullets {
  bottom: 30px !important;
}
.tp-bullets.simplebullets.round .bullet,
.hesperiden .tp-bullet {
  margin-left: 5px;
  border-radius: 100%;
  border: 2px solid rgba(255, 255, 255, 0.9);
  width: 12px;
  height: 12px;
  transition: all 150ms ease-in;
  background: none;
}
.tp-bullets.simplebullets.round .bullet.selected,
.tp-bullets.simplebullets.round .bullet:hover,
.hesperiden .tp-bullet.selected,
.hesperiden .tp-bullet:hover {
  background: rgba(255, 255, 255, 0.9);
}
.tp-bullets.hidebullets {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}
.tp-loader.spinner0 {
  background: none !important;
  height: 40px;
  width: 40px;
  -webkit-animation: rotation .8s infinite linear;
  -moz-animation: rotation .8s infinite linear;
  -o-animation: rotation .8s infinite linear;
  animation: rotation .8s infinite linear;
  border-left: 3px solid rgba(112, 174, 210, 0.15);
  border-right: 3px solid rgba(112, 174, 210, 0.15);
  border-bottom: 3px solid rgba(112, 174, 210, 0.15);
  border-top: 3px solid rgba(112, 174, 210, 0.8);
  border-radius: 100%;
  margin: -20px -20px;
  top: 50%;
  left: 50%;
  z-index: 1000;
  position: absolute;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.tp-bannertimer {
  width: 100%;
  height: 10px;
  background: url(@{themeurl}/style/images/timer.png);
  position: absolute;
  z-index: 200;
}
.tp-dottedoverlay.twoxtwo {
  background: rgba(29, 29, 33, 0.4);
}
/*-----------------------------------------------------------------------------------*/
/* 	06. OWL CAROUSEL
/*-----------------------------------------------------------------------------------*/
.owl-carousel {
  position: relative;
}
.owl-carousel .item {
  padding-bottom: 1px;
}
.owl-controls .owl-nav {
  position: absolute;
  top: 50%;
  margin-top: -13px;
  width: 100%;
}
.carousel.portfolio .owl-nav {
  margin: 0;
  top: 110px;
}
.carousel.blog .owl-nav {
  margin: 0;
  top: 106px;
}
.owl-carousel .owl-item .steps-item .icon img {
  width: auto;
  margin: 0 auto;
}
.owl-nav .owl-prev,
.owl-nav .owl-next {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  transition: all 150ms ease-in;
  background: none;
  color: rgba(255, 255, 255, 0.75);
  font-size: 35px;
  width: auto;
  height: auto;
}
.owl-nav .owl-prev:before,
.owl-nav .owl-next:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
}
.owl-carousel .owl-nav .owl-prev {
  left: 15px;
}
.owl-carousel .owl-nav .owl-next {
  left: auto;
  right: 15px;
}
.owl-nav .owl-prev:before {
  content: '\e765';
}
.owl-nav .owl-next:before {
  content: '\e766';
}
.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
  color: #ffffff;
}
.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.clients .owl-controls,
.blog-carousel .owl-controls {
  margin: 0;
}
.owl-theme .owl-dots {
  pointer-events: auto;
  position: absolute;
  width: 100%;
  bottom: 10px;
  cursor: pointer;
  z-index: 2;
  transition: all 150ms ease-in;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  margin: 0 3px;
  display: block;
  border-radius: 100%;
  border: 2px solid rgba(255, 255, 255, 0.9);
  width: 14px;
  height: 14px;
  transition: all 150ms ease-in;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: rgba(255, 255, 255, 0.9);
}
figure .link-out {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.45);
  color: #f7f7f7;
  line-height: 1;
  padding: 10px;
  font-weight: 300;
  opacity: 0;
}
figure:hover .link-out {
  opacity: 1;
}
figure .link-out:hover {
  background: rgba(0, 0, 0, 0.7);
  color: #f7f7f7;
}
/*-----------------------------------------------------------------------------------*/
/*	07. SWIPER
/*-----------------------------------------------------------------------------------*/
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper {
  position: relative;
  width: 100%;
  -webkit-transition-property: -webkit-transform, left, top;
  -webkit-transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
  -moz-transition-property: -moz-transform, left, top;
  -moz-transition-duration: 0s;
  -moz-transform: translate3d(0px, 0, 0);
  -moz-transition-timing-function: ease;
  -o-transition-property: -o-transform, left, top;
  -o-transition-duration: 0s;
  -o-transform: translate3d(0px, 0, 0);
  -o-transition-timing-function: ease;
  -o-transform: translate(0px, 0px);
  -ms-transition-property: -ms-transform, left, top;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0px, 0, 0);
  -ms-transition-timing-function: ease;
  transition-property: transform, left, top;
  transition-duration: 0s;
  transform: translate3d(0px, 0, 0);
  transition-timing-function: ease;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-free-mode > .swiper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper .item {
  float: left;
}
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}
.swiper-container {
  width: 100%;
  height: 500px;
}
.swiper-container.gallery {
  height: 500px;
}
.swiper .item {
  height: 100%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-wrapper {
  position: relative;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.swiper-wrapper .arrow-left,
.swiper-wrapper .arrow-right {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  top: 50% !important;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  color: rgba(255, 255, 255, 0.75);
  font-size: 40px;
  margin-top: -19px;
  text-align: center;
}
.swiper-wrapper .arrow-left:before,
.swiper-wrapper .arrow-right:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
}
.swiper-wrapper .arrow-left {
  left: 15px;
}
.swiper-wrapper .arrow-right {
  right: 15px;
}
.swiper-wrapper .arrow-left:before {
  content: '\e765';
}
.swiper-wrapper .arrow-right:before {
  content: '\e766';
}
.swiper-wrapper .arrow-left:hover,
.swiper-wrapper .arrow-right:hover {
  color: #ffffff;
}
/*-----------------------------------------------------------------------------------*/
/* 	08. CUBE PORTFOLIO
/*-----------------------------------------------------------------------------------*/
.cbp-panel {
  max-width: none;
}
.cbp a {
  transition: none;
}
.cbp .post-title a {
  transition: all 150ms ease-in;
}
.cbp-below .cbp-popup-content {
  padding-top: 20px;
}
.cbp-below .cbp-popup-navigation {
  top: 20px;
}
.cbp-filter-container {
  display: block;
  margin-bottom: 30px;
}
.sfilter .sticky-filter {
  border-bottom: 1px solid rgba(29, 29, 33, 0.1);
}
.sticky-filter ul {
  margin: 0;
  padding: 20px 0;
}
.cbp-filter-container .cbp-filter-item,
.sticky-filter ul li {
  display: inline-block;
  font-family: 'Museo', sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  transition: all 200ms ease-in;
  cursor: pointer;
  color: #3b3b3b;
}
.sticky-filter ul li a {
  color: inherit;
}
.cbp-filter-container .cbp-filter-item:before,
.sticky-filter ul li:before {
  display: inline-block;
  content: "/";
  padding: 0 25px 0 19px;
  color: rgba(0, 0, 0, 0.2);
}
.cbp-filter-container .cbp-filter-item:first-child:before,
.sticky-filter ul li:first-child:before {
  display: none;
}
.cbp-filter-container .cbp-filter-item:hover,
.cbp-filter-container .cbp-filter-item.cbp-filter-item-active,
.sticky-filter ul li a:hover,
.sticky-filter ul li.current a {
  color: #70aed2 !important;
}
.cbp-caption-fadeIn .cbp-caption-activeWrap {
  background: #202020;
  background: rgba(29, 29, 33, 0.8);
  transition: all 0.4s;
}
.cbp-caption-fadeIn .cbp-caption-activeWrap {
  top: 0;
}
.cbp-singlePageInline-active {
  opacity: 1 !important;
}
.cbp-singlePageInline-active .cbp-caption-activeWrap {
  opacity: 1;
}
.cbp-l-caption-title,
.cbp-l-caption-desc {
  font: inherit;
}
.cbp-l-caption-title {
  font-size: 13px;
  font-family: 'Museo', sans-serif;
  text-transform: uppercase;
  letter-spacing: normal;
  color: #FFF;
  font-weight: bold;
}
.cbp-l-caption-title .cbp-plus,
.cbp-l-caption-title .cbp-link {
  font-size: 32px;
  color: #efefef;
  font-weight: normal;
}
.cbp-l-caption-title .cbp-plus:before,
.cbp-l-caption-title .cbp-link:before {
  font-family: 'budicon';
  content: '\e04e';
  display: block;
}
.cbp-l-caption-title .cbp-link:before {
  content: '\e004';
}
a.cbp-caption .cbp-l-caption-title {
  transform: translate3d(0, -10px, 0);
  transition: 0.35s ease-in;
}
a.cbp-caption:hover .cbp-l-caption-title {
  transform: translate3d(0, 0, 0);
}
.cbp-popup-content {
  background: #f2f5f7;
}
.cbp-l-inline {
  padding: 0;
  margin: 60px 0 60px 0;
  background: none;
}
.cbp-popup-navigation {
  left: 50%;
  margin-left: -20px;
  right: auto;
  z-index: 10000;
}
.cbp-popup-singlePageInline .cbp-popup-close {
  background: none;
  top: 0;
  right: auto;
  color: #5f5f5f !important;
  text-align: center;
  display: table;
  font-size: 18px;
  z-index: 10000;
  transition: all 150ms ease-in;
  background: rgba(29, 29, 33, 0.07000000000000001);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 42px;
  height: 40px;
}
.cbp-popup-singlePageInline .cbp-popup-close:hover {
  opacity: 1;
  background: rgba(29, 29, 33, 0.12);
}
.cbp-popup-singlePageInline .cbp-popup-close:before {
  font-family: 'fontello';
  content: "\e819";
  vertical-align: middle;
  display: table-cell;
}
.cbp-panel {
  width: 100%;
}
.cbp-popup-singlePageInline:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  content: '';
  width: 40px;
  height: 40px;
  border-left: 3px solid rgba(112, 174, 210, 0.15);
  border-right: 3px solid rgba(112, 174, 210, 0.15);
  border-bottom: 3px solid rgba(112, 174, 210, 0.15);
  border-top: 3px solid rgba(112, 174, 210, 0.8);
  border-radius: 100%;
  animation: rotation .8s infinite linear;
  -webkit-animation: rotation .8s infinite linear;
  opacity: 1;
}
.sticky-filter {
  width: 100%;
  text-align: center;
  overflow: hidden;
  z-index: 2;
}
/*-----------------------------------------------------------------------------------*/
/*	09. BASIC GALLERY
/*-----------------------------------------------------------------------------------*/
.basic-gallery {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
}
.basic-gallery li {
  display: block;
  width: 100%;
  margin-top: 50px;
}
.basic-gallery li:first-child {
  margin-top: 0;
}
.basic-gallery li img {
  display: inline;
  max-width: 100%;
}
/*-----------------------------------------------------------------------------------*/
/* 	10. SLIDE PORTFOLIO
/*-----------------------------------------------------------------------------------*/
body.overflow-hidden {
  overflow: hidden !important;
}
img {
  max-width: 100%;
}
.cd-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.cd-container::after {
  content: '';
  display: table;
  clear: both;
}
main {
  position: relative;
  z-index: 2;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
main.slide-out {
  -webkit-transform: translateX(-320px);
  -moz-transform: translateX(-320px);
  -ms-transform: translateX(-320px);
  -o-transform: translateX(-320px);
  transform: translateX(-320px);
}
main.slide-out .slide-portfolio-overlay {
  display: block;
  -webkit-animation: cd-fade-in 0.3s;
  -moz-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}
@media only screen and (min-width: 768px) {
  main.slide-out {
    -webkit-transform: translateX(-700px);
    -moz-transform: translateX(-700px);
    -ms-transform: translateX(-700px);
    -o-transform: translateX(-700px);
    transform: translateX(-700px);
  }
}
@media only screen and (min-width: 1200px) {
  main.slide-out {
    -webkit-transform: translateX(-1000px);
    -moz-transform: translateX(-1000px);
    -ms-transform: translateX(-1000px);
    -o-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
}
.no-touch #slide-portfolio li:hover {
  box-shadow: 0 0 10px rgba(92, 75, 81, 0.3);
}
.no-touch #slide-portfolio li:hover .cd-img-overlay {
  opacity: 1;
}
#slide-portfolio figure {
  position: relative;
}
#slide-portfolio img {
  display: block;
  width: 100%;
}
.slide-portfolio-item-content {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  -webkit-transform: translateX(320px);
  -moz-transform: translateX(320px);
  -ms-transform: translateX(320px);
  -o-transform: translateX(320px);
  transform: translateX(320px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.slide-portfolio-item-content .slide-portfolio-item-detail {
  padding: 0 20px 0 20px;
}
.slide-portfolio-item-content.slide-in {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
@media only screen and (min-width: 768px) {
  .slide-portfolio-item-content {
    width: 700px;
    -webkit-transform: translateX(700px);
    -moz-transform: translateX(700px);
    -ms-transform: translateX(700px);
    -o-transform: translateX(700px);
    transform: translateX(700px);
  }
  .slide-portfolio-item-content .slide-portfolio-item-detail {
    padding: 0 50px 0 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .slide-portfolio-item-content {
    width: 1000px;
    -webkit-transform: translateX(1000px);
    -moz-transform: translateX(1000px);
    -ms-transform: translateX(1000px);
    -o-transform: translateX(1000px);
    transform: translateX(1000px);
  }
  .slide-portfolio-item-content .slide-portfolio-item-detail {
    padding: 0 100px 0 100px;
  }
  .no-cssgradients .slide-portfolio-item-content .slide-portfolio-item-detail {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
.slide-portfolio-item-content-close {
  width: 32px;
  height: 32px;
  overflow: hidden;
  position: fixed;
  top: 10px;
  right: 10px;
  background: none;
  font-size: 25px;
  white-space: nowrap;
  z-index: 3;
  display: none;
}
.slide-portfolio-item-content-close {
  color: rgba(29, 29, 33, 0.8);
}
.slide-portfolio-item-content-close:hover {
  color: #1d1d21;
}
.slide-portfolio-item-content-close.is-visible {
  display: block;
  -webkit-animation: cd-move-in 1.2s;
  -moz-animation: cd-move-in 1.2s;
  animation: cd-move-in 1.2s;
}
@media only screen and (min-width: 1200px) {
  .slide-portfolio-item-content-close {
    right: 20px;
    top: 20px;
  }
}
.slide-portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 29, 33, 0.8);
  cursor: pointer;
  display: none;
  z-index: 9999;
}
@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes cd-move-in {
  0% {
    -webkit-transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-move-in {
  0% {
    -moz-transform: translateX(100px);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-move-in {
  0% {
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
/*-----------------------------------------------------------------------------------*/
/* 	11. PORTFOLIO POSTS
/*-----------------------------------------------------------------------------------*/
.items-wrapper {
  text-align: center;
}
.items {
  padding: 0;
  margin: 0;
  list-style: none;
}
.image-grid .item {
  float: left;
}
.image-grid.col5 .item {
  margin-bottom: 10px;
  width: 20%;
  padding-right: 10px;
}
.image-grid.col3 .items-wrapper {
  margin-bottom: -20px;
  margin-right: -20px;
}
.image-grid.col3 .item {
  margin-bottom: 20px;
  width: 33.33339%;
  padding-right: 20px;
}
.image-grid figure {
  margin: 0;
}
.widget .image-grid.col3 .items-wrapper {
  margin-bottom: -5px;
  margin-right: -5px;
}
.widget .image-grid.col3 .item {
  margin-bottom: 5px;
  width: 33.33339%;
  padding-right: 5px;
}
.item-details {
  padding: 0;
  margin: 0 0 30px 0;
  list-style: none;
}
.item-details li {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.item-details li:first-child {
  margin-top: 0px;
  padding-top: 0px;
  border-top: 0;
}
.item-details li strong {
  font-weight: normal;
  color: #70aed2;
  padding-right: 3px;
}
/*-----------------------------------------------------------------------------------*/
/*	12. PARALLAX
/*-----------------------------------------------------------------------------------*/
.parallax,
.vc_parallax {
  color: #FFF !important;
}
.post-parallax .inner {
  padding: 220px 0 150px 0;
}
/*-----------------------------------------------------------------------------------*/
/* 	13. VIDEO PARALLAX
/*-----------------------------------------------------------------------------------*/
video {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: baseline;
}
.video-wrap {
  height: 100%;
  width: 100%;
}
#video-office {
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.content-overlay {
  position: relative;
  z-index: 20;
  width: 100%;
  height: 100%;
  padding-top: 210px;
  background: rgba(29, 29, 33, 0.5);
}
.outer-wrap {
  height: 500px;
}
/*-----------------------------------------------------------------------------------*/
/*	14. BLOG
/*-----------------------------------------------------------------------------------*/
.no-sidebar {
  margin: 0 auto;
  width: 720px;
}
.classic-view .meta {
  margin-bottom: 15px;
}
.grid-view hr {
  padding-top: 20px;
  margin-bottom: 50px;
}
.pagination {
  display: block;
  margin: 0;
  overflow: hidden;
  border-radius: 0;
  padding-bottom: 3px;
}
.pagination ul {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Museo', sans-serif;
}
.pagination ul > li {
  display: inline-block;
  margin-right: 2px;
}
.pagination ul > li > a,
.pagination ul > li > span {
  float: none;
}
.pagination ul > li > a {
  background: #FFF;
  font-size: 14px;
  color: #3b3b3b;
  font-weight: 700;
  display: inline-block;
  padding: 9px 18px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.07000000000000001);
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #70aed2;
}
.about-author {
  position: relative;
  padding: 0 0 0 180px;
}
.about-author .author-image {
  position: absolute;
  top: 0;
  left: 0;
}
.post .box {
  margin-bottom: 30px;
  padding-bottom: 15px;
}
.box {
  background: #FFF;
  padding: 30px;
  box-shadow: 0 2px 0 rgba(29, 29, 33, 0.07000000000000001);
}
.image-grid .box {
  padding: 20px;
}
.box figure.main {
  margin: 20px -30px;
}
.box .main {
  margin: 0 -30px 30px -30px !important;
}
.classic-view .gallery-wrapper {
  margin-bottom: 20px;
}
.post-footer {
  margin: 0 0 15px 0;
  padding-top: 5px;
}
.classic-view .post-title {
  margin-bottom: 5px;
  line-height: 20px;
}
.box {
  position: relative;
}
.post .box .post-title {
  margin-top: 5px;
}
.box .category {
  position: absolute;
  width: 100%;
  top: -15px;
  left: 0;
}
.classic-view .box .category {
  position: relative;
  top: auto;
  left: auto;
  margin-bottom: 15px;
}
.box .category span {
  color: #FFF;
  font-family: 'Museo', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  display: inline-block;
  font-weight: bold;
}
.box .category span a {
  color: #FFF;
  padding: 3px 12px;
  display: block;
}
/*-----------------------------------------------------------------------------------*/
/* 	15. WIDGETS
/*-----------------------------------------------------------------------------------*/
.sidebox {
  margin-top: 50px;
  display: block;
}
.sidebox:first-child {
  margin-top: 0;
}
.sidebox a {
  color: inherit;
}
.sidebox a:hover {
  color: #70aed2;
}
.sidebar {
  padding-left: 35px !important;
}
footer [class*="col-"] .widget {
  margin-top: 30px;
}
footer [class*="col-"] .widget:first-child {
  margin-top: 0;
}
.widget-title {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 15px !important;
}
.widget .post-list {
  padding: 0;
  margin: 0;
}
.widget .post-list:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.widget .post-list li {
  clear: both;
  margin-bottom: 15px;
  display: block;
  overflow: hidden;
}
.widget .post-list h5 {
  margin: 0;
  color: inherit;
  margin-bottom: 5px;
}
.widget .post-list h5 a {
  color: #3b3b3b;
  font-size: 15px !important;
  line-height: 20px;
  text-transform: none !important;
}
.widget .post-list h5 a:hover {
  color: #70aed2;
}
footer .widget .post-list h5 a {
  color: #ececec;
}
.widget .post-list .icon-overlay {
  float: left;
  width: 70px;
  height: 70px;
}
.sidebar .widget .post-list .meta,
footer .widget .post-list .meta {
  margin-left: 85px;
  margin-bottom: 0;
}
.widget .post-list .meta em {
  color: #999999;
  margin-bottom: 10px;
  font-style: normal;
}
.widget .post-list .meta em a,
.widget .post-list .meta span:before {
  color: #999999;
}
.widget .post-list .meta em a:hover {
  color: #70aed2;
}
.widget .list {
  list-style: none;
  margin: 0;
}
.tagcloud {
  padding: 0;
  margin: 0;
  list-style: none;
}
.tagcloud a {
  margin: 0 2px 6px 0;
  position: relative;
  font-weight: 700;
  font-size: 12px !important;
}
.tagcloud a:hover {
  text-decoration: none;
}
footer .tagcloud a {
  background: rgba(0, 0, 0, 0.15) !important;
}
footer .tagcloud a:hover {
  background: #70aed2 !important;
  color: #FFF !important;
}
.sidebox .tagcloud a {
  background: #FFF !important;
  color: #3b3b3b !important;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.07000000000000001);
}
.sidebox .tagcloud a:hover {
  background: #FFF !important;
  color: #70aed2 !important;
}
/*-----------------------------------------------------------------------------------*/
/*	16. THUMBNAIL OVERLAY
/*-----------------------------------------------------------------------------------*/
figure {
  display: block;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
.grid-view figure.main,
.carousel-boxed figure {
  margin: 0;
}
.items li figure img {
  display: block;
  width: 100%;
}
figure li a,
figure li a img {
  display: block;
  position: relative;
}
figure img {
  display: block;
  max-width: 100%;
}
.icon-overlay {
  display: block;
  overflow: hidden;
  position: relative;
}
.icon-overlay img {
  display: block;
  max-width: 100%;
  -webkit-backface-visibility: hidden;
}
.icon-overlay a .icn-more {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  height: 100%;
  position: absolute;
  text-decoration: none;
  width: 100%;
  left: 0;
  z-index: 100;
  background: #222;
  background: rgba(29, 29, 33, 0.8);
  overflow: hidden;
  transition: all 0.4s;
}
.icon-overlay a:hover .icn-more {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.icon-overlay a .icn-more:before {
  font-family: 'budicon';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  position: absolute;
  text-align: center;
  content: '\e004';
  line-height: 1;
  color: #FFF;
  top: 50%;
  left: 50%;
  z-index: 2;
  font-size: 22px;
  margin: -10px 0px 0px -11px;
  transform: translate3d(0, -10px, 0);
  transition: 0.35s ease-in;
}
.icon-overlay.lightbox a .icn-more:before {
  content: '\e04e';
  font-size: 32px;
  color: #efefef;
  font-weight: normal;
  margin: -16px 0px 0px -17px;
}
#slide-portfolio .icon-overlay a .icn-more:before {
  content: '\e062';
  font-size: 29px;
  margin: -14px 0px 0px -14px;
}
.icon-overlay a:hover .icn-more:before {
  transform: translate3d(0, 0, 0);
}
.caption-overlay {
  position: relative;
}
.caption-overlay .caption {
  position: absolute;
  padding: 0;
  width: 100%;
  pointer-events: none;
}
.caption-overlay .caption {
  bottom: 40px;
  right: 0px;
  text-align: right;
}
.caption-overlay .caption a {
  pointer-events: all;
}
.caption-overlay .caption .btn {
  margin: 0;
}
.caption-overlay .caption .main-title {
  font-size: 13px;
  line-height: 17px;
  display: inline-block;
  letter-spacing: 0;
  text-transform: uppercase;
  letter-spacing: normal;
}
.caption-overlay .caption .layer {
  background: rgba(29, 29, 33, 0.7);
  padding: 12px 20px;
  color: #FFF;
  transition: all 200ms ease-in;
}
.caption-overlay:hover .caption .layer {
  background: rgba(29, 29, 33, 0.85);
}
.owl-carousel .caption-overlay .caption {
  width: 100%;
  text-align: center;
  display: inline;
}
.owl-carousel .caption-overlay .caption .layer {
  display: inline-block;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: none;
  padding: 20px 25px;
}
.owl-carousel .caption-overlay .caption .meta {
  margin: 0;
}
.owl-carousel .caption-overlay .caption .post-title {
  font-size: 18px;
  margin-top: 10px;
}
.owl-carousel .caption-overlay .caption.center {
  bottom: 40px;
  text-align: center;
}
.owl-carousel .caption-overlay .caption.bottom-left {
  bottom: 40px;
  left: 40px;
  text-align: left;
}
.owl-carousel .caption-overlay .caption.bottom-left .category {
  left: 25px;
}
.owl-carousel .caption-overlay .caption.bottom-right {
  bottom: 40px;
  left: auto;
  right: 40px;
  text-align: right;
}
.owl-carousel .caption-overlay .caption.bottom-right .category {
  right: 25px;
  left: auto;
}
.blog-carousel .caption-overlay .caption {
  padding: 0;
}
.blog-carousel .caption-overlay .caption .layer {
  background: rgba(29, 29, 33, 0.6);
  width: 100%;
}
.blog-carousel .caption-overlay .caption .post-title a {
  color: #FFF;
}
.blog-carousel .caption-overlay .caption .post-title a:hover {
  color: #70aed2;
}
.blog-carousel .caption-overlay .caption.bottom-left {
  bottom: 0px;
  left: 0px;
  text-align: left;
}
.blog-carousel .caption-overlay .caption .meta,
.blog-carousel .caption-overlay .caption .meta a {
  color: #ccc;
}
.blog-carousel .caption-overlay .caption .meta a:hover {
  color: #70aed2;
}
/*-----------------------------------------------------------------------------------*/
/*	17. PROGRESS BAR
/*-----------------------------------------------------------------------------------*/
.progress-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.progress-list p {
  margin-bottom: 3px;
}
.progress-list li {
  margin-bottom: 10px;
}
.progress-list li em {
  padding-left: 8px;
  color: #70aed2;
  font-style: normal;
}
.progress-list li em:before {
  content: "-";
  padding-right: 10px;
  display: inline-block;
}
.progress.plain {
  height: 30px;
  margin-bottom: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background: none;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.progress.plain .bar {
  float: left;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  width: 0;
  height: 100%;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  text-shadow: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #70aed2 !important;
}
.bar-container {
  background: rgba(29, 29, 33, 0.05) !important;
  line-height: 1;
}
/*-----------------------------------------------------------------------------------*/
/*	18. FEATURES
/*-----------------------------------------------------------------------------------*/
.feature {
  padding: 0 0 0 60px;
  position: relative;
  margin-bottom: 40px;
}
.feature .icon {
  position: absolute;
  left: 0;
  font-size: 40px;
  color: #70aed2;
}
/*-----------------------------------------------------------------------------------*/
/*	19. FACTS
/*-----------------------------------------------------------------------------------*/
.icon-large {
  font-size: 55px;
  margin-bottom: 15px;
  color: #70aed2;
}
.facts h2 {
  font-size: 35px;
  margin-bottom: 5px;
}
.facts p {
  text-transform: uppercase;
  margin: 0;
}
/*-----------------------------------------------------------------------------------*/
/*	20. TABS
/*-----------------------------------------------------------------------------------*/
.tabs-top .etabs {
  margin: 0;
  padding: 0;
  overflow: inherit;
}
.tabs-top.center .etabs {
  text-align: center;
}
.tabs-top .tab {
  margin: 0;
  padding: 0;
  display: inline-block;
  zoom: 1;
  *display: inline;
  background: rgba(29, 29, 33, 0.06);
  top: 1px;
  position: relative;
  z-index: 1;
  margin-right: 3px;
}
.tabs-top .tab a {
  padding: 9px 20px;
  display: block;
  color: #3b3b3b;
  font-size: 12px;
  letter-spacing: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Museo', sans-serif;
}
.tabs-top .tab i {
  margin-right: 5px;
}
.tabs-top .tab.active {
  position: relative;
  z-index: 3;
}
.tabs-top .tab a:hover,
.tabs-top .tab.active a {
  background: #70aed2;
  color: #FFF;
}
.tabs-top.tab-container .panel-container {
  position: relative;
  z-index: 1;
  display: block;
}
.tabs-top.tab-container .panel-container p {
  margin: 0;
  padding-bottom: 10px;
}
.tabs-top.tab-container .panel-container .tab-block {
  padding-top: 20px;
}
.tabs-top.boxed.tab-container .panel-container .tab-block {
  padding: 20px;
  padding-bottom: 5px;
}
.tabs-top.boxed .tab {
  background: none;
}
.tabs-top.boxed .tab a:hover,
.tabs-top.boxed .tab.active a {
  background: none;
}
.tabs-top.boxed .tab a:hover,
.tabs-top.boxed .tab.active a {
  color: #3b3b3b;
  background: #fff;
}
.tabs-top.boxed.tab-container .panel-container {
  background: #fff;
  box-shadow: 0 2px 0 rgba(29, 29, 33, 0.07000000000000001);
}
/*-----------------------------------------------------------------------------------*/
/*	21. ACCORDION / TOGGLE
/*-----------------------------------------------------------------------------------*/
.panel-group .panel {
  margin-bottom: 10px;
  background: none;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.panel-group .panel-heading {
  padding: 0;
  background: none !important;
  border: 0 !important;
}
.panel-group .panel-heading .panel-title {
  color: #3b3b3b;
  font-size: 12px;
  letter-spacing: normal;
  line-height: 24px;
  font-weight: 700;
  background: rgba(29, 29, 33, 0.06);
  text-transform: uppercase;
  transition: all 150ms ease-in;
}
.panel-group .panel-title > a {
  display: block;
  padding: 10px 20px;
}
.panel-group .panel-active a,
.panel-group .panel-title > a:hover {
  color: #FFF;
}
.panel-group .panel-heading .panel-title:hover,
.panel-group .panel-active .panel-heading .panel-title {
  background: #70aed2;
  color: #FFF;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
  border: 0;
}
.panel-body {
  padding: 20px 0 0;
}
.boxed .panel-body {
  padding: 0 20px;
}
.boxed.panel-group .panel-heading .panel-title {
  box-shadow: 0 2px 0 rgba(29, 29, 33, 0.07000000000000001);
  background: #FFF !important;
}
.boxed .panel-default > .panel-heading + .panel-collapse {
  box-shadow: 0 2px 0 rgba(29, 29, 33, 0.07000000000000001);
  background: #FFF !important;
}
.boxed.panel-group .panel-active a,
.boxed.panel-group .panel-title > a:hover,
.boxed.panel-group .panel-title > a:focus,
.boxed.panel-group .panel-heading .panel-title:hover,
.boxed.panel-group .panel-active .panel-heading .panel-title {
  color: #3b3b3b !important;
}
/*-----------------------------------------------------------------------------------*/
/* 	22. PRICING & TABLES
/*-----------------------------------------------------------------------------------*/
.panel.pricing {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
  box-shadow: none;
}
.panel.pricing .panel-heading {
  padding: 30px 0;
}
.panel.pricing .panel-title {
  text-transform: uppercase;
  margin: 0;
  font-size: 18px;
  color: #3b3b3b;
}
.panel.pricing table {
  margin-bottom: 0;
}
.pricing .panel-body {
  padding: 0px;
  text-align: center;
}
.price {
  padding: 20px 0 0 0;
  margin: 0;
  color: #70aed2;
}
.price-value {
  font-size: 60px;
  font-weight: 400;
}
.price-currency,
.price-duration {
  font-weight: 700;
}
.price-currency {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  margin-right: -2px;
}
.price-duration {
  font-size: 14px;
  text-transform: uppercase;
}
.price-duration:before {
  content: "/";
  padding-right: 5px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 20px 0;
  line-height: 1;
  vertical-align: top;
}
.table > thead > tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.panel-footer {
  padding: 20px 0;
  background: none;
}
.pricing .panel-footer a {
  margin: 0;
}
/*-----------------------------------------------------------------------------------*/
/*	 23. TOOLTIP
/*-----------------------------------------------------------------------------------*/
.tooltip {
  font-size: 14px;
}
.tooltip-inner {
  color: #fff;
  background-color: #70aed2;
  padding: 5px 12px 5px;
}
.tooltip.top .tooltip-arrow,
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {
  border-top-color: #70aed2;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #70aed2;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #70aed2;
}
.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #70aed2;
}
/*-----------------------------------------------------------------------------------*/
/*	24. TESTIMONIALS
/*-----------------------------------------------------------------------------------*/
.testimonials {
  text-align: center;
}
blockquote {
  position: relative;
  margin: 0 0 20px 0;
  border: 0;
  padding: 10px 60px 0 60px;
  font-size: 22px;
  line-height: 30px;
  color: #999999;
  font-style: italic;
  font-weight: normal;
  background: none;
}
blockquote small {
  font-style: normal;
  margin: 0;
}
blockquote:before,
blockquote:after {
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 90px;
  line-height: 1;
}
blockquote:before {
  top: 0;
  left: 0;
  content: "\201C";
}
blockquote:after {
  top: 0;
  right: 0;
  content: "\201D";
}
.testimonials .item blockquote {
  color: #FFF;
  margin: 0;
}
.testimonials .item blockquote small {
  font-style: normal;
  color: #FFF;
  margin-top: 20px;
  display: block;
}
.testimonials .item blockquote small span:before {
  content: "-";
  display: inline-block;
}
.testimonials .item blockquote small:before {
  display: none;
}
.testimonials2 {
  overflow: hidden;
  margin-bottom: -30px;
}
.testimonials2 .quote {
  margin-bottom: 30px;
}
.small-quote .quote {
  padding: 0 0 0 150px;
  position: relative;
}
.small-quote .col-md-6:nth-of-type(even) .quote {
  padding: 0 150px 0 0;
  position: relative;
}
.small-quote .quote .icon {
  position: absolute;
  top: 0;
  left: 0;
}
.small-quote .col-md-6:nth-of-type(even) .quote .icon {
  right: 0;
  left: auto;
}
.quote .author {
  margin: 10px 0 0 0;
}
.quote .author h5 {
  margin-bottom: 0;
  text-transform: uppercase;
}
.small-quote .quote img {
  width: 90px;
  height: auto;
  border-radius: 100%;
}
.small-quote .quote .box:before {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #FFF;
}
.small-quote .col-md-6:nth-of-type(even) .quote .box:before {
  left: auto;
  right: -10px;
  border-right: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #FFF;
}
.small-quote .box {
  padding: 30px 30px 10px 10px;
}
.small-quote blockquote {
  padding: 0 0 0 40px;
  font-size: 18px;
  line-height: 26px;
}
.small-quote blockquote:before,
.small-quote blockquote:after {
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 60px;
  line-height: 1;
}
.small-quote blockquote:after {
  display: none;
}
/*-----------------------------------------------------------------------------------*/
/*	25. COMMENTS
/*-----------------------------------------------------------------------------------*/
#comments {
  margin: 0;
  position: relative;
}
#comments ol.commentlist {
  list-style: none;
  margin: 0;
  padding: 0;
}
#comments ol.commentlist li {
  background: none;
  margin-top: 30px;
}
#comments ol.commentlist li:first-child {
  margin: 0;
}
#comments .user {
  float: left;
  width: 70px;
  height: 70px;
  position: relative;
}
#comments .message p {
  margin: 0;
}
#comments .message p + p {
  margin-top: 15px;
}
#comments .message-inner {
  margin-left: 100px;
  position: relative;
  overflow: hidden;
}
#comments ul.children {
  margin: 0;
  overflow: inherit;
  padding: 0 0 0 35px;
  list-style: none;
}
#comments ol.commentlist ul.children li {
  padding-right: 0;
  border: none;
  margin-top: 30px;
}
#comments ol.commentlist ul.children li .message {
  background: #f7f8f9;
  padding: 25px;
}
#comments .info h2 {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  display: inline;
}
#comments .info {
  margin-bottom: 12px;
}
#comments .info h2 a {
  color: #3b3b3b;
}
#comments .info h2 a:hover {
  color: #70aed2;
}
#comments .info .meta {
  display: block;
  margin: 0;
}
#comments .info .meta .date {
  display: inline;
}
.comment-form-wrapper p {
  padding-bottom: 20px;
}
/*-----------------------------------------------------------------------------------*/
/*	26. FORMS
/*-----------------------------------------------------------------------------------*/
select {
  -webkit-appearance: none;
  box-shadow: none !important;
  width: 100% !important;
  font-weight: 500;
}
label {
  font-weight: inherit;
}
.form-field label {
  width: 100%;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-weight: inherit;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 40px;
  color: inherit;
  border: none;
  border-radius: 0;
  background: rgba(29, 29, 33, 0.06);
  resize: none;
  vertical-align: middle;
  box-shadow: none;
  transition: all 150ms ease-in;
}
.widget input {
  margin-bottom: 0;
}
footer input {
  background: rgba(0, 0, 0, 0.15) !important;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  background: rgba(29, 29, 33, 0.08);
  box-shadow: none;
}
footer input:focus {
  background: rgba(0, 0, 0, 0.25) !important;
}
textarea {
  height: 200px;
  padding: 8px 13px;
  margin-bottom: 15px;
  min-height: 200px;
  resize: vertical;
  font-weight: inherit;
}
.form-container .form-field {
  position: relative;
}
.form-container .form-field i {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 13px;
  margin: 1px 0 0 0;
  line-height: 40px;
  color: #a3a3a3;
  height: 38px;
  line-height: 37px;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  font-weight: normal;
}
.searchform {
  position: relative;
}
.sidebar .searchform {
  max-width: 300px;
}
.searchform .btn {
  position: absolute;
  top: 0;
  right: -5px;
  height: 40px !important;
  font-weight: 800 !important;
  font-size: 12px !important;
  padding: 0 15px !important;
  margin: 0;
}
::-webkit-input-placeholder {
  color: inherit !important;
  font-weight: 500 !important;
}
:-moz-placeholder {
  color: inherit !important;
  font-weight: 500 !important;
  opacity: 1;
}
::-moz-placeholder {
  color: inherit !important;
  font-weight: 500 !important;
  opacity: 1;
}
:-ms-input-placeholder {
  color: inherit !important;
  font-weight: 500 !important;
}
.searchform .btn {
  border-radius: 0;
}
/*-----------------------------------------------------------------------------------*/
/*	27. SOCIAL ICONS
/*-----------------------------------------------------------------------------------*/
.social {
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 1;
}
.social li {
  display: inline-block;
  font-family: 'fontello-social';
  margin-right: 5px;
  margin-bottom: 5px;
}
.text-center .social li {
  margin: 0 3px;
}
.social li a {
  display: table;
}
.social li a i {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: #f5f5f5;
  background: none;
  width: 30px;
  height: 30px !important;
  line-height: 1;
  font-size: 12px;
  border-radius: 0;
  transition: all 150ms ease-in;
}
.social .icon-s-pinterest {
  background-color: #c53942;
}
.social .icon-s-rss {
  background-color: #e86f04;
}
.social .icon-s-facebook {
  background-color: #4470cf;
}
.social .icon-s-twitter {
  background-color: #5daed5;
}
.social .icon-s-flickr {
  background-color: #ff0088;
}
.social .icon-s-dribbble {
  background-color: #d07ead;
}
.social .icon-s-behance {
  background-color: #098ffa;
}
.social .icon-s-linkedin {
  background-color: #3393c1;
}
.social .icon-s-vimeo {
  background-color: #099fc7;
}
.social .icon-s-youtube {
  background-color: #c8312b;
}
.social .icon-s-skype {
  background-color: #2ebbf0;
}
.social .icon-s-tumblr {
  background-color: #5d82a4;
}
.social .icon-s-delicious {
  background-color: #3274d1;
}
.social .icon-s-500px {
  background-color: #00a6df;
}
.social .icon-s-grooveshark {
  background-color: #f66c00;
}
.social .icon-s-forrst {
  background-color: #2f7935;
}
.social .icon-s-digg {
  background-color: #1b5891;
}
.social .icon-s-blogger {
  background-color: #fc6605;
}
.social .icon-s-klout {
  background-color: #d8390f;
}
.social .icon-s-dropbox {
  background-color: #016aab;
}
.social .icon-s-github {
  background-color: #4073a6;
}
.social .icon-s-songkick {
  background-color: #ff0030;
}
.social .icon-s-posterous {
  background-color: #eac954;
}
.social .icon-s-appnet {
  background-color: #0291c9;
}
.social .icon-s-gplus {
  background-color: #a84539;
}
.social .icon-s-stumbleupon {
  background-color: #eb4923;
}
.social .icon-s-lastfm {
  background-color: #be0c02;
}
.social .icon-s-spotify {
  background-color: #7cc011;
}
.social .icon-s-instagram {
  background-color: #a4765c;
}
.social .icon-s-evernote {
  background-color: #82d15c;
}
.social .icon-s-paypal {
  background-color: #2a608e;
}
.social .icon-s-picasa {
  background-color: #9864ae;
}
.social .icon-s-soundcloud {
  background-color: #ff680d;
}
.social a:hover .icon-s-pinterest {
  background-color: #b0363e;
}
.social a:hover .icon-s-rss {
  background-color: #cf6508;
}
.social a:hover .icon-s-facebook {
  background-color: #4066b9;
}
.social a:hover .icon-s-twitter {
  background-color: #569cbe;
}
.social a:hover .icon-s-flickr {
  background-color: #e3057b;
}
.social a:hover .icon-s-dribbble {
  background-color: #ba729b;
}
.social a:hover .icon-s-behance {
  background-color: #0d81de;
}
.social a:hover .icon-s-linkedin {
  background-color: #3185ad;
}
.social a:hover .icon-s-vimeo {
  background-color: #0d8fb2;
}
.social a:hover .icon-s-youtube {
  background-color: #b32f2a;
}
.social a:hover .icon-s-skype {
  background-color: #2da8d6;
}
.social a:hover .icon-s-tumblr {
  background-color: #567694;
}
.social a:hover .icon-s-delicious {
  background-color: #306abb;
}
.social a:hover .icon-s-500px {
  background-color: #0595c7;
}
.social a:hover .icon-s-grooveshark {
  background-color: #db6305;
}
.social a:hover .icon-s-forrst {
  background-color: #2e6e33;
}
.social a:hover .icon-s-digg {
  background-color: #1c5183;
}
.social a:hover .icon-s-blogger {
  background-color: #e05e09;
}
.social a:hover .icon-s-klout {
  background-color: #c13612;
}
.social a:hover .icon-s-dropbox {
  background-color: #06619a;
}
.social a:hover .icon-s-github {
  background-color: #3d6995;
}
.social a:hover .icon-s-songkick {
  background-color: #e3052f;
}
.social a:hover .icon-s-posterous {
  background-color: #d1b44e;
}
.social a:hover .icon-s-appnet {
  background-color: #0783b4;
}
.social a:hover .icon-s-gplus {
  background-color: #974136;
}
.social a:hover .icon-s-stumbleupon {
  background-color: #d14423;
}
.social a:hover .icon-s-lastfm {
  background-color: #aa0f07;
}
.social a:hover .icon-s-spotify {
  background-color: #71ac14;
}
.social a:hover .icon-s-instagram {
  background-color: #946c55;
}
.social a:hover .icon-s-evernote {
  background-color: #76bb55;
}
.social a:hover .icon-s-paypal {
  background-color: #295880;
}
.social a:hover .icon-s-picasa {
  background-color: #895c9c;
}
.social a:hover .icon-s-soundcloud {
  background-color: #e35f10;
}
.social a:hover i {
  color: #FFF;
}
.navbar .social-wrapper {
  display: none;
  vertical-align: middle;
}
.social.naked.pull-right {
  text-align: right;
}
.social.naked.pull-right li {
  margin-left: 5px;
  margin-bottom: 0;
}
.navbar .social.naked {
  text-align: right;
}
.navbar .social.naked li {
  margin-left: 15px;
  margin-bottom: 0;
}
.social.naked li:first-child {
  margin-left: 0;
}
.social.naked li a i {
  color: #999999;
  background: none;
  border: 0;
  height: auto !important;
  width: auto;
  font-size: 14px;
}
.social.naked.bigger li a i {
  font-size: 17px;
}
.navbar.light .social li a i {
  color: #3b3b3b;
}
.navbar .social li a i {
  color: #fff;
}
.social.naked a:hover i {
  background: none;
}
.social.naked a:hover .icon-s-pinterest {
  color: #d8545d;
  border: 0;
}
.social.naked a:hover .icon-s-rss {
  color: #faaa5e;
}
.social.naked a:hover .icon-s-facebook {
  color: #677fb5;
}
.social.naked a:hover .icon-s-twitter {
  color: #70c2e9;
}
.social.naked a:hover .icon-s-flickr {
  color: #ff3ba4;
}
.social.naked a:hover .icon-s-dribbble {
  color: #e299c2;
}
.social.naked a:hover .icon-s-behance {
  color: #42a9fb;
}
.social.naked a:hover .icon-s-linkedin {
  color: #3daccf;
}
.social.naked a:hover .icon-s-vimeo {
  color: #42b5d4;
}
.social.naked a:hover .icon-s-youtube {
  color: #d5615c;
}
.social.naked a:hover .icon-s-skype {
  color: #5ecbf3;
}
.social.naked a:hover .icon-s-tumblr {
  color: #829fb9;
}
.social.naked a:hover .icon-s-delicious {
  color: #6194dc;
}
.social.naked a:hover .icon-s-500px {
  color: #3bbbe6;
}
.social.naked a:hover .icon-s-grooveshark {
  color: #f88e3b;
}
.social.naked a:hover .icon-s-forrst {
  color: #5f9864;
}
.social.naked a:hover .icon-s-digg {
  color: #507faa;
}
.social.naked a:hover .icon-s-blogger {
  color: #fd893f;
}
.social.naked a:hover .icon-s-klout {
  color: #e16747;
}
.social.naked a:hover .icon-s-dropbox {
  color: #6ba3c5;
}
.social.naked a:hover .icon-s-github {
  color: #6c93bb;
}
.social.naked a:hover .icon-s-songkick {
  color: #ff3b60;
}
.social.naked a:hover .icon-s-posterous {
  color: #efd57c;
}
.social.naked a:hover .icon-s-appnet {
  color: #3daad5;
}
.social.naked a:hover .icon-s-gplus {
  color: #bc7067;
}
.social.naked a:hover .icon-s-stumbleupon {
  color: #f07356;
}
.social.naked a:hover .icon-s-lastfm {
  color: #cd443d;
}
.social.naked a:hover .icon-s-spotify {
  color: #9acf48;
}
.social.naked a:hover .icon-s-instagram {
  color: #926d53;
}
.social.naked a:hover .icon-s-evernote {
  color: #9fdc82;
}
.social.naked a:hover .icon-s-paypal {
  color: #5b85a8;
}
.social.naked a:hover .icon-s-picasa {
  color: #b088c1;
}
.social.naked a:hover .icon-s-soundcloud {
  color: #ff8b45;
}
/*-----------------------------------------------------------------------------------*/
/*	28. FANCYBOX
/*-----------------------------------------------------------------------------------*/
#fancybox-thumbs ul li img {
  max-width: none;
}
.fancybox-title {
  font: inherit;
}
.fancybox-nav {
  position: fixed;
  top: 50%;
  margin-top: -62px;
  width: 40px;
  height: 40px;
}
.fancybox-prev span {
  left: 0px;
}
.fancybox-next span {
  right: 0px;
}
.fancybox-nav span {
  width: 40px;
  height: 40px;
  visibility: visible;
}
.fancybox-close {
  position: fixed;
  top: 15px;
  right: 10px;
  width: 40px;
  height: 40px;
}
.fancybox-close:before,
.fancybox-prev span:before,
.fancybox-next span:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-size: 35px;
  vertical-align: middle;
  line-height: 1;
}
.fancybox-close:before {
  font-size: 25px;
  line-height: 1;
}
.fancybox-close,
.fancybox-prev span,
.fancybox-next span {
  background: none;
  color: #bfbfbf;
  text-align: center;
  transition: all 150ms ease-in;
}
.fancybox-close:hover,
.fancybox-prev span:hover,
.fancybox-next span:hover {
  color: #FFF;
}
.fancybox-prev span:before {
  content: '\e765';
  padding-left: 10px;
}
.fancybox-next span:before {
  content: '\e766';
  padding-right: 10px;
}
.fancybox-close:before {
  font-family: 'budicon';
  content: "\e04c";
  font-weight: bold;
}
#fancybox-loading {
  margin-top: -20px;
  margin-left: -20px;
  opacity: 1;
}
#fancybox-loading div {
  height: 40px;
  width: 40px;
  position: relative;
  -webkit-animation: rotation .8s infinite linear;
  -moz-animation: rotation .8s infinite linear;
  -o-animation: rotation .8s infinite linear;
  animation: rotation .8s infinite linear;
  border-left: 3px solid rgba(112, 174, 210, 0.15);
  border-right: 3px solid rgba(112, 174, 210, 0.15);
  border-bottom: 3px solid rgba(112, 174, 210, 0.15);
  border-top: 3px solid rgba(112, 174, 210, 0.8);
  border-radius: 100%;
}
.fancybox-overlay {
  background: rgba(30, 30, 31, 0.95);
}
#fancybox-thumbs.bottom {
  bottom: 10px;
}
#fancybox-thumbs ul li {
  padding: 5px;
}
#fancybox-thumbs ul li.active {
  border: none;
  opacity: 1;
  padding: 5px;
}
#fancybox-thumbs ul li a {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
#fancybox-thumbs ul li a:before {
  pointer-events: none;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  box-shadow: inset 0 0 1px 0 rgba(255, 255, 255, 0.3);
}
#fancybox-thumbs ul li.active a:before {
  box-shadow: inset 0 0 1px 0 #ffffff;
}
.fancybox-opened .fancybox-skin {
  box-shadow: none;
}
.fancybox-skin {
  background: none;
  color: #ececec;
  border-radius: 0;
}
.fancybox-skin h3 {
  color: #ececec;
}
.fancybox-title-inside-wrap {
  padding-top: 20px;
}
/*-----------------------------------------------------------------------------------*/
/*	29. FONT ICON PAGES
/*-----------------------------------------------------------------------------------*/
.font-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}
.font-icons li {
  display: inline-block;
  font-size: 25px;
  margin-bottom: 10px;
  padding: 0 10px;
}
.alert .close {
  line-height: 20px;
}
.retina-icons-code i {
  font-size: 18px;
}
.retina-icons-code tr td:first-child,
.retina-icons-code tr th:first-child {
  text-align: center;
}
.retina-icons-code code {
  background: none;
  white-space: normal;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background: none !important;
}
.table-bordered {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-left: none;
  background: none;
}
.table-bordered th,
.table-bordered td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.retina-icons-code td {
  vertical-align: middle !important;
  padding: 20px 10px !important;
}
.retina-icons-code th {
  padding: 20px 10px !important;
}
.retina-icons-code .table th,
.retina-icons-code .table td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.retina-icons-code .table-bordered > thead > tr > th,
.retina-icons-code .table-bordered > tbody > tr > th,
.retina-icons-code .table-bordered > tfoot > tr > th,
.retina-icons-code .table-bordered > thead > tr > td,
.retina-icons-code .table-bordered > tbody > tr > td,
.retina-icons-code .table-bordered > tfoot > tr > td {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.retina-icons-code code {
  color: inherit;
}
.budicons-list .font-icons li {
  font-size: 40px;
  margin-bottom: 40px;
  padding: 0 20px;
}
.budicons-list .retina-icons-code i {
  font-size: 30px;
  line-height: 1;
  margin-top: 5px;
  display: block;
}
.flats {
  margin-bottom: -50px;
}
.flats .col-sm-2 {
  height: 160px;
}
.flats img {
  max-width: 100%;
  max-height: 100%;
  width: 100px;
  height: auto;
}
/*-----------------------------------------------------------------------------------*/
/*	30. DIVIDERS
/*-----------------------------------------------------------------------------------*/
.divide0 {
  width: 100%;
  height: 0px;
}
.divide2 {
  width: 100%;
  height: 2px;
}
.divide3 {
  width: 100%;
  height: 3px;
}
.divide5 {
  width: 100%;
  height: 5px;
}
.divide10 {
  width: 100%;
  height: 10px;
}
.divide15 {
  width: 100%;
  height: 15px;
}
.divide20 {
  width: 100%;
  height: 20px;
}
.divide25 {
  width: 100%;
  height: 25px;
}
.divide30 {
  width: 100%;
  height: 30px;
}
.divide35 {
  width: 100%;
  height: 35px;
}
.divide40 {
  width: 100%;
  height: 40px;
}
.divide45 {
  width: 100%;
  height: 40px;
}
.divide50 {
  width: 100%;
  height: 50px;
}
.divide55 {
  width: 100%;
  height: 55px;
}
.divide60 {
  width: 100%;
  height: 60px;
}
.divide65 {
  width: 100%;
  height: 65px;
}
.divide70 {
  width: 100%;
  height: 70px;
}
.divide75 {
  width: 100%;
  height: 75px;
}
.divide80 {
  width: 100%;
  height: 80px;
}
.divide85 {
  width: 100%;
  height: 85px;
}
.divide90 {
  width: 100%;
  height: 90px;
}
.divide100 {
  width: 100%;
  height: 100px;
}
.rm0 {
  margin-right: 0px;
}
.rm1 {
  margin-right: 1px;
}
.rm2 {
  margin-right: 2px;
}
.rm5 {
  margin-right: 5px;
}
.rm6 {
  margin-right: 6px;
}
.rm10 {
  margin-right: 10px;
}
.rm15 {
  margin-right: 15px;
}
.rm20 {
  margin-right: 20px;
}
.rm25 {
  margin-right: 25px;
}
.rm30 {
  margin-right: 30px;
}
.rm40 {
  margin-right: 40px;
}
.rm50 {
  margin-right: 50px;
}
.lm0 {
  margin-left: 0px;
}
.lm1 {
  margin-left: 1px;
}
.lm5 {
  margin-left: 5px;
}
.lm7 {
  margin-left: 7px;
}
.lm10 {
  margin-left: 10px;
}
.lm15 {
  margin-left: 15px;
}
.lm20 {
  margin-left: 20px;
}
.lm25 {
  margin-left: 25px;
}
.lm30 {
  margin-left: 25px;
}
.lm40 {
  margin-left: 40px;
}
.rp5 {
  padding-right: 5px;
}
.rp10 {
  padding-right: 10px;
}
.rp15 {
  padding-right: 15px;
}
.rp20 {
  padding-right: 20px;
}
.rp30 {
  padding-right: 30px;
}
.rp40 {
  padding-right: 40px;
}
.rp50 {
  padding-right: 50px;
}
.lp0 {
  padding-left: 0px;
}
.lp10 {
  padding-left: 10px;
}
.lp20 {
  padding-left: 20px;
}
.lp30 {
  padding-left: 30px;
}
.lp40 {
  padding-left: 40px;
}
.lp50 {
  padding-left: 50px;
}
.lp100 {
  padding-left: 100px;
}
.tp0 {
  padding-top: 0 !important;
}
.tp3 {
  padding-top: 3px;
}
.tp5 {
  padding-top: 5px;
}
.tp10 {
  padding-top: 10px;
}
.tp20 {
  padding-top: 20px;
}
.tp25 {
  padding-top: 25px;
}
.tp30 {
  padding-top: 30px;
}
.tp40 {
  padding-top: 40px;
}
.tm4 {
  margin-top: 4px;
}
.tm5 {
  margin-top: 5px;
}
.tm7 {
  margin-top: 7px;
}
.tm10 {
  margin-top: 10px;
}
.tm15 {
  margin-top: 15px;
}
.tm20 {
  margin-top: 20px;
}
.tm40 {
  margin-top: 40px;
}
.mbm1 {
  margin-bottom: -1px;
}
.bp0 {
  padding-bottom: 0 !important;
}
.bp10 {
  padding-bottom: 10px !important;
}
.bp20 {
  padding-bottom: 20px !important;
}
.bm0 {
  margin-bottom: 0 !important;
}
.bm5 {
  margin-bottom: 5px !important;
}
.bm6 {
  margin-bottom: 6px !important;
}
.bm10 {
  margin-bottom: 10px !important;
}
.bm15 {
  margin-bottom: 15px !important;
}
.bm20 {
  margin-bottom: 20px !important;
}
.bm25 {
  margin-bottom: 25px !important;
}
.bm30 {
  margin-bottom: 30px !important;
}
.bm50 {
  margin-bottom: 50px !important;
}
.bp50 {
  padding-bottom: 50px !important;
}
/*-----------------------------------------------------------------------------------*/
/*	31. RESPONSIVE
/*-----------------------------------------------------------------------------------*/
@media (min-width: 992px) {
  .navbar {
    display: table;
    padding: 0 40px;
  }
  .navbar-header {
    display: table-cell !important;
    vertical-align: middle;
    float: none !important;
  }
  .navbar .navbar-collapse {
    line-height: 90px;
  }
  .navbar .navbar-collapse {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
    pointer-events: none;
  }
  .navbar .navbar-nav > li {
    margin: 0 15px;
    display: inline-block;
    text-align: center;
  }
  .navbar .social-wrapper {
    display: table-cell !important;
  }
  .navbar .dropdown-menu:before {
    content: "";
    width: 0;
    display: block;
    position: absolute;
    height: 10px;
    top: 5px;
    left: 10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #70aed2;
  }
  .caret {
    display: none;
  }
  .dropdown-submenu .caret {
    display: inline-block;
  }
  .navbar .dropdown-submenu > a:after {
    display: none;
  }
  .navbar .dropdown-submenu > .dropdown-menu:before {
    display: none;
  }
  .navbar .dropdown-submenu > .dropdown-menu {
    margin-top: 0;
    padding-top: 0;
  }
  .dropdown-submenu {
    position: relative;
  }
  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: 0;
    margin-top: -1px !important;
  }
  .dropdown-submenu > .dropdown-menu li {
    border-left: 1px solid rgba(255, 255, 255, 0.06) !important;
  }
  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }
  .dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-right: -10px;
  }
  .dropdown-submenu.pull-left {
    float: none;
  }
  .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
  }
  .open > .dropdown-menu,
  .open > .dropdown-menu > .dropdown-submenu > .dropdown-menu {
    animation-name: slidenavAnimation;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-name: slidenavAnimation;
    -webkit-animation-duration: .3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: slidenavAnimation;
    -moz-animation-duration: .3s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
  }
  @keyframes slidenavAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes slidenavAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .navbar .top-bar {
    display: block;
  }
}
@media (max-width: 991px) {
  body:not(.onepage) .navbar,
  body:not(.onepage) .navbar.fixed {
    position: relative;
    height: auto;
  }
  body:not(.onepage) .offset {
    display: none;
  }
  body:not(.onepage) .navbar {
    background: rgba(29, 29, 33, 0.9) !important;
  }
  body:not(.onepage) .navbar.light {
    background: #FFF !important;
  }
  .basic-wrapper {
    display: table;
    height: 70px;
  }
  .navbar {
    top: 0 !important;
  }
  .navbar.fixed .basic-wrapper {
    height: 70px;
  }
  .basic-wrapper .navbar-brand {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
  }
  .navbar .nav > li.current > a {
    box-shadow: none !important;
  }
  .navbar .nav > li.current > a,
  .navbar .nav > li > a:hover {
    color: #70aed2 !important;
  }
  .navbar-brand {
    position: relative;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin: 0;
  }
  .btn.responsive-menu {
    display: block;
  }
  .navbar li.menu-icon span {
    display: block;
  }
  .navbar li.menu-icon i {
    display: none;
  }
  .navbar .nav,
  .navbar .dropup,
  .navbar .dropdown,
  .navbar .collapse {
    position: relative;
  }
  .navbar .dropdown-menu {
    position: relative;
    left: inherit;
    top: inherit;
    float: none;
    width: 100% !important;
    background: none;
    padding: 0;
    border-top: 0 !important;
  }
  .navbar .nav > li.current > a {
    box-shadow: none;
  }
  .navbar .dropdown-menu li {
    border: none !important;
  }
  .navbar-nav > li > a,
  .navbar .dropdown-menu li a {
    border-top: 1px solid rgba(255, 255, 255, 0.06);
  }
  .navbar-nav > li:first-child > a {
    border-top: none;
  }
  .navbar .nav .open > a,
  .navbar .nav .open > a:hover,
  .navbar .nav .open > a:focus {
    background: none;
    border-color: rgba(255, 255, 255, 0.06);
  }
  .navbar .dropdown-menu li a,
  .navbar.solid .navbar-nav > li > a,
  .navbar.fixed .navbar-nav > li > a {
    color: #FFF !important;
  }
  .navbar-nav > li > a,
  .navbar .dropdown-menu li a,
  .navbar .dropdown-menu li a:hover,
  .navbar .dropdown-menu li a.active {
    padding: 12px 0 !important;
  }
  .navbar-nav .open .dropdown-menu > li > a {
    line-height: 1;
  }
  .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #70aed2 !important;
  }
  .navbar .dropdown-menu {
    padding-left: 20px;
  }
  .navbar-nav > li {
    border: none;
    margin: 0 !important;
  }
  .navbar .btn.responsive-menu {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
  }
  .navbar-header {
    float: left;
    width: 100%;
  }
  .navbar-header:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  .navbar .container {
    width: 100%;
    padding: 0;
  }
  .navbar .navbar-collapse {
    width: 100%;
    float: none !important;
    margin: 0;
    border: 0 !important;
    max-height: none;
    text-align: left;
    overflow: hidden;
    background: #26262a;
    box-shadow: none;
  }
  .navbar .navbar-nav {
    width: 720px;
    margin: 20px auto 0;
    padding: 0;
  }
  .navbar .basic-wrapper {
    width: 720px;
    margin: 0 auto;
  }
  .thin {
    width: 100%;
  }
  .tabs-top .tab {
    margin-bottom: 6px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .caption-overlay .caption {
    text-align: center;
  }
  .caption-overlay .caption .main-title {
    display: block;
  }
  .image-grid.col5 .item {
    width: 25%;
  }
}
@media (max-width: 767px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .navbar .container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .navbar .navbar-nav {
    width: 100%;
    margin: 20px auto 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar .basic-wrapper {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
  .navbar .navbar-nav > li {
    margin-left: 0;
  }
  [class*="col-"] {
    margin-bottom: 30px;
  }
  .parallax .col-md-pull-6 .main {
    margin-bottom: -30px;
    width: 100%;
    max-width: 100%;
  }
  #comments .user {
    display: none;
  }
  #comments .message-inner {
    margin-left: 0px;
  }
  .swiper-container.gallery,
  .swiper-container.gallery img {
    height: 250px;
    width: auto;
  }
  .image-grid.col3 .items-wrapper {
    margin-right: 0;
  }
  .image-grid.col3 .item {
    width: 100%;
    padding: 0;
  }
  .owl-carousel .caption-overlay .caption {
    display: none;
  }
  .grid-view .post .box {
    margin-bottom: 0;
  }
  .no-sidebar {
    margin: 0 auto;
    width: 100%;
  }
  .image-grid.col5 .item {
    width: 50%;
  }
  .sticky-filter ul,
  .cbp-filter-container {
    text-align: left !important;
  }
  .cbp-filter-container .cbp-filter-item:before,
  .sticky-filter ul li:before {
    padding: 0 10px 0 10px;
  }
}
@media (max-width: 340px) {
  .swiper-container.gallery,
  .swiper-container.gallery img {
    height: 150px;
    width: auto;
  }
}
.woocommerce ul.products li.product .price {
  font-size: 18px;
  color: #70aed2;
}
.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: #70aed2;
}
ul.products li.product {
  background: #fff;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.07000000000000001);
  padding-bottom: 20px !important;
}
.woocommerce ul.products li.product .onsale,
.woocommerce span.onsale {
  background: #70aed2;
  border-radius: 0;
  margin: 0;
  top: 10px;
  right: 10px;
  left: auto;
  text-transform: uppercase;
  padding: 1px 20px;
}
/* ********************************************************
CUSTOM CSS
******************************************************** */
.block-thin {
  margin-right: 16.666667%;
  margin-left: 16.666667%;
  margin-bottom: 30px !important;
}
@media (max-width: 991px) {
  .block-thin {
    margin-right: 8.333333%;
    margin-left: 8.333333%;
  }
}
.block-thin:last-child {
  margin-bottom: 0px !important;
}
@media (max-width: 991px) {
  .parallax-seperator {
    height: 150px !important;
  }
}
@media (max-width: 768px) {
  .parallax-seperator {
    height: 80px !important;
  }
}
@media (max-width: 576px) {
  .parallax-seperator {
    height: 20px !important;
  }
}
.header-btn {
  position: absolute;
  right: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 1300px) {
  .header-btn {
    display: none;
  }
}
.header-logo {
  width: auto;
  height: 48px;
}
.hero-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  margin: 0 !important;
  font-style: italic;
  opacity: 0.7;
}
.hero-thin {
  height: 40px;
}
@media (max-width: 991px) {
  .hero-thin {
    height: 70px !important;
  }
}
@media (max-width: 768px) {
  .hero-thin {
    height: 90px !important;
  }
}
@media (max-width: 576px) {
  .hero-thin {
    height: 50px !important;
  }
}
.contact-maps {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.contact-maps .row,
.contact-maps .vc_column_container {
  padding: 0;
}
.contact-addresses .wpb_column {
  width: 50%;
  float: left;
}
@media (max-width: 768px) {
  .contact-addresses .wpb_column {
    width: 100% !important;
  }
}
.contact-addresses .contact-box {
  background: #ffffff;
  border-top: 10px solid;
}
.contact-addresses .contact-box .wpb_wrapper {
  padding: 25px;
}
.contact-addresses .contact-box:before {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  height: 120px;
  background-size: cover;
  background-position: center;
}
.contact-addresses .contact-box.contact-box-island {
  border-color: #72aaa9;
}
.contact-addresses .contact-box.contact-box-island:before {
  background-image: url('http://chsstudios.chsweb02/wp-content/themes/lydia/style/css/../images/contact_island.jpg');
}
.contact-addresses .contact-box.contact-box-island address {
  margin-bottom: 34px;
}
.contact-addresses .contact-box.contact-box-seavixen {
  border-color: #de3233;
}
.contact-addresses .contact-box.contact-box-seavixen:before {
  background-image: url('http://chsstudios.chsweb02/wp-content/themes/lydia/style/css/../images/contact_seavixen.jpg');
}
.contact-addresses address br {
  margin: 0 !important;
}
.video-row {
  margin-left: 0;
  margin-right: 0;
}
.video-row .wpb_column:first-child {
  padding-right: 0;
}
@media (max-width: 991px) {
  .video-row .wpb_column:first-child {
    padding-right: 15px;
  }
}
.video-row .wpb_column:last-child {
  padding-left: 0;
}
@media (max-width: 991px) {
  .video-row .wpb_column:last-child {
    padding-left: 15px;
  }
}
.team-grid {
  margin: 0 0 30px 0;
}
.team-grid:nth-of-type(4n + 5) {
  clear: left;
}
@media (max-width: 768px) {
  .team-grid:nth-of-type(4n + 5) {
    clear: none;
  }
}
@media (max-width: 768px) {
  .team-grid:nth-of-type(2n + 3) {
    clear: left;
  }
}
@media (max-width: 576px) {
  .team-grid {
    width: 100%;
  }
}
.img-3-grid figure {
  margin-bottom: 20px !important;
}
.img-3-grid [class*="col-"] {
  margin-bottom: 0px !important;
}
.client-grid .client-item {
  position: relative;
}
@media (max-width: 480px) {
  .client-grid .client-item {
    margin-bottom: 20px;
  }
}
.client-grid .client-item .client-inner {
  position: relative;
  overflow: hidden;
  margin: 0 0 30px;
}
@media (max-width: 768px) {
  .client-grid .client-item .client-inner {
    margin: 0;
  }
}
.client-grid .client-item .client-inner.has-bg:hover .client-logo {
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
  transform: scale3d(1.5, 1.5, 1.5);
  opacity: 0;
}
.client-grid .client-item .client-inner.has-bg:hover .client-bg {
  -webkit-transform: scale(1.16);
  transform: scale(1.16);
}
.client-grid .client-item .client-inner .client-logo {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 50;
  text-align: center;
  padding: 20px 22px;
  background: rgba(244, 244, 244, 0.8);
  -webkit-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.client-grid .client-item .client-inner .client-logo img {
  width: 100%;
  height: auto;
}
.client-grid .client-item .client-inner .client-bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.client-grid .client-item:nth-of-type(4n + 5) {
  clear: left;
}
@media (max-width: 1199px) {
  .client-grid .client-item:nth-of-type(4n + 5) {
    clear: none;
  }
}
@media (max-width: 1199px) {
  .client-grid .client-item:nth-of-type(3n + 4) {
    clear: left;
  }
}
@media (max-width: 768px) {
  .client-grid .client-item:nth-of-type(3n + 4) {
    clear: none;
  }
}
@media (max-width: 768px) {
  .client-grid .client-item:nth-of-type(2n + 3) {
    clear: left;
  }
}
@media (max-width: 480px) {
  .client-grid .client-item {
    width: 100%;
  }
}
.pp_overlay {
  background: #1e1e1f !important;
  opacity: 0.95 !important;
}
.pp_pic_holder .pp_top,
.pp_pic_holder .pp_bottom,
.pp_pic_holder .pp_nav,
.pp_pic_holder .pp_social,
.pp_pic_holder .pp_expand,
.pp_pic_holder .pp_loaderIcon,
.pp_pic_holder .pp_description {
  display: none !important;
}
.pp_pic_holder .pp_left,
.pp_pic_holder .pp_right {
  background: none !important;
  padding: 0 !important;
}
.pp_pic_holder .pp_content {
  background: none !important;
}
.pp_pic_holder .pp_details {
  position: absolute !important;
  margin: 0 !important;
}
.pp_pic_holder .pp_close {
  background: none !important;
  color: #bfbfbf !important;
  text-align: center !important;
  transition: all 150ms ease-in !important;
  position: fixed;
  top: 15px !important;
  right: 10px !important;
  width: 40px !important;
  height: 40px !important;
}
.pp_pic_holder .pp_close:hover {
  opacity: 1 !important;
}
.pp_pic_holder .pp_close:hover:before {
  color: #ffffff !important;
}
.pp_pic_holder .pp_close:before {
  font-family: 'budicon';
  content: "\e04c";
  font-style: normal;
  font-weight: bold;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-size: 25px;
  vertical-align: middle;
  line-height: 1;
  text-indent: 0px !important;
  float: left;
  transition: all 150ms ease-in !important;
}
.pp_pic_holder .pp_hover_container {
  width: 100%;
  height: 100%;
}
.pp_pic_holder .pp_next,
.pp_pic_holder .pp_previous {
  width: 40px !important;
  height: 40px !important;
  position: fixed !important;
  top: 50% !important;
  margin-top: -60px !important;
  background: none !important;
  color: #bfbfbf !important;
  transition: all 150ms ease-in !important;
  text-align: center !important;
}
.pp_pic_holder .pp_next:hover:before,
.pp_pic_holder .pp_previous:hover:before {
  color: #ffffff !important;
}
.pp_pic_holder .pp_next:before,
.pp_pic_holder .pp_previous:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-size: 35px;
  vertical-align: middle;
  line-height: 1;
  text-indent: 0px !important;
  float: left;
  transition: all 150ms ease-in !important;
}
.pp_pic_holder .pp_previous {
  left: 0px !important;
}
.pp_pic_holder .pp_previous:before {
  content: "\e765";
  padding-left: 16px;
}
.pp_pic_holder .pp_next {
  right: 0px !important;
}
.pp_pic_holder .pp_next:before {
  content: "\e766";
  padding-left: 6px;
}
.about-section > .container {
  width: 100%;
}
@media (max-width: 991px) {
  .about-section > .container {
    width: 750px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (max-width: 768px) {
  .about-section > .container {
    width: 100%;
  }
}
.about-section > .container > .row {
  position: relative;
  margin: 0;
  display: block;
  height: 100%;
}
@media (max-width: 1199px) {
  .about-section > .container > .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (max-width: 991px) {
  .about-section .about-img-wrap {
    margin-bottom: 30px;
    left: -20%;
  }
}
@media (max-width: 991px) {
  .about-section .about-img-wrap .about-img figure {
    display: block;
  }
}
@media (max-width: 991px) {
  .about-section .about-img-wrap .about-img figure > div {
    display: block;
  }
}
.about-section .about-content {
  max-width: 585px;
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  right: 0;
  bottom: 0;
}
@media (max-width: 1199px) {
  .about-section .about-content {
    max-width: 490px;
  }
}
@media (max-width: 991px) {
  .about-section .about-content {
    max-width: 100%;
    width: 100%;
    position: relative;
    left: 0;
    margin-bottom: 15px;
  }
}
.about-section .about-content > div {
  padding-right: 20px !important;
  position: relative;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 991px) {
  .about-section .about-content > div {
    top: 0;
    transform: translateY(0%);
  }
}
.about-section.about-section--rev .about-img-wrap {
  left: 50%;
}
@media (max-width: 991px) {
  .about-section.about-section--rev .about-img-wrap {
    left: 10%;
  }
}
@media (max-width: 991px) {
  .about-section.about-section--rev .about-img-wrap .about-img figure {
    display: block;
  }
}
@media (max-width: 991px) {
  .about-section.about-section--rev .about-img-wrap .about-img figure > div {
    display: block;
  }
}
.about-section.about-section--rev .about-content {
  max-width: 100%;
  left: 0%;
}
@media (max-width: 991px) {
  .about-section.about-section--rev .about-content {
    margin-bottom: 0 !important;
  }
}
.about-section.about-section--rev .about-content > div {
  padding-left: 20px !important;
  max-width: 585px;
  float: right;
}
@media (max-width: 1199px) {
  .about-section.about-section--rev .about-content > div {
    max-width: 490px;
  }
}
@media (max-width: 991px) {
  .about-section.about-section--rev .about-content > div {
    float: none;
    max-width: 100%;
    padding-left: 0px !important;
  }
}
.blog-posts .post-content blockquote.recipe-quote {
  font-size: 18px;
  margin-bottom: 30px;
}
.blog-posts .post-content hr {
  padding: 0;
}
.blog-posts .post-content ol {
  list-style: none;
  counter-reset: number-counter;
  padding-left: 20px;
  margin-left: 0px;
}
.blog-posts .post-content ol li {
  position: relative;
  counter-increment: number-counter;
  margin: 0 0 15px 0;
}
.blog-posts .post-content ol li::before {
  content: counter(number-counter) ". ";
  position: absolute;
  left: -20px;
  font-weight: bold;
}
.blog-posts .post-content ol.method {
  margin-top: 40px;
}
